@import "@styles/_mixins.module.scss";
@import "@styles/_variables.module.scss";

.container {
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      h2 {
        margin: 0 0 10px 0;
      }
      p {
        color: $thr_color;
        margin: 0;
      }
    }
  }
}

.avatarContainer {
  display: flex;
  align-items: center;
  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  button {
    background-color: $white_color;
    color: $primary_color;
    font-weight: 600;
    &:active {
      transform: scale(0.98);
    }
  }
}
.fallbackAvatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #4a5568;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
}

.gridCols2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.spaceY2 {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
