@import "@styles/_mixins.module.scss";
@import "@styles/_variables.module.scss";

.container {
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      h2 {
        margin: 0 0 10px 0;
      }
      p {
        color: $thr_color;
        margin: 0;
      }
    }
  }
}
// information container styles
.containerInformation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 20px 0 20px 0;
}

// button list styles
.containerlstBtn {
  display: flex;
  margin-top: 10px;
  .lstBtn {
    background-color: #e1e1e1;
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    gap: 5px;
  }
}

.findContainer {
  display: flex;
  margin: 10px 0;
  align-items: center;
  gap: 10px;
}
.dropdown {
  position: relative;
  display: flex;
  gap: 10px;
  span {
    position: absolute;
    font-size: 26px;
    opacity: 0.5;
    color: #777;
    font-weight: 400;
    top: 60%;
    right: 7%;
    transform: translateY(-50%);
  }
  button {
    width: 160px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 7px;
    border: none;
    outline: none;
    cursor: default;
    padding: 7px 10px;
    background-color: rgba(241, 241, 241, 0.966);

    &:active {
      transform: scale(1);
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    width: 160px;
    position: absolute;
    z-index: 1001;
    top: 120%;
    border-radius: 7px;
    background-color: #fff;
    padding-top: 8px;
    border: none;
    outline: none;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    div {
      padding: 7px 10px;
      margin: 5px;
      border-radius: 5px;
      &:hover {
        background-color: #ccc;
        cursor: default;
      }
    }
  }
}

.table {
  border: 0.5px solid #ccc;
  border-radius: 10px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: visible;
  text-align: center;
  th,
  td {
    height: 40px;
    border-bottom: 0.5px solid #ccc;
  }
  td {
    img {
      max-width: 50px;
      max-height: 50px;
      object-fit: cover;
    }
  }

  tr {
    align-items: center;
    &:hover {
      background-color: #efefef;
    }
  }

  button {
    background-color: transparent;
    border: none;
    color: #111;
    padding: 5px;
    &:hover {
      background-color: #ddd;
    }
  }
}

//popUp styles
.popUpcontent {
  display: grid;
  gap: 1rem;

  .subTitlePopup {
    h4 {
      margin: 0 0 10px 0;
    }
  }

  .infoCustomer,
  .infoProduct {
    display: grid;
    gap: 15px;
    .gridCols2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
    .spaceY2 {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 5px;
      .options,
      button {
        width: 100%;
      }
      .uploadBtn {
        display: flex;
        align-items: center;
        gap: 10px;

        cursor: pointer;
        color: #555;
        input {
          background-color: rgba(241, 241, 241, 0.966);
          width: 100%;
          border: none;
          border-radius: 7px;
          outline: none;
          height: 40px;
          box-sizing: border-box;
          padding: 10px 0 10px 10px;

          align-items: center;
          flex: 1;
        }
        .stylesBtnUpload {
          position: relative;
          span {
            position: absolute;
            font-size: 26px;
            opacity: 0.5;
            color: #777;
            font-weight: 400;
            top: 60%;
            left: 7%;
            transform: translateY(-50%);
          }
          button {
            height: 40px;
            padding-left: 35px;
            background-color: #fff;
            color: #111;
            border-radius: 7px;
            &:hover {
              background-color: #ededed;
            }
          }
        }
      }
    }
  }
}
