.dropdown {
  position: relative;
  display: inline;
  .trigger {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
    padding: 4px 6px;
    border-radius: 4px;
  }
}

.dropdownItems {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 4px 0;
  min-width: 100px;
  cursor: pointer;

  button {
    &:hover {
      border: none;
      border-radius: 7px;
      cursor: pointer;
    }
  }
}
