@import "@styles/_mixins.module.scss";
@import "@styles/_variables.module.scss";
.btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  color: $white_color;
  background-color: #111;
  padding: 8px 12px;
  outline: none;
  border: 1px solid #e1e1e1;
  @include radius_common(10px);
  gap: 5px;
  cursor: pointer;

  // &:active {
  //   transform: scale(0.98);
  // }
}

.hidden {
  display: none;
}

.appear {
  display: flex;
}

.primaryBtn {
  color: $white_color;
  background-color: #111;
}

.secondaryBtn {
  color: #111;
  background-color: #e1e1e1;
}

.btnItemActive {
  background-color: $white_color;
  color: #111;
  border-radius: 20px;
  overflow: hidden;
  margin: 2px;
}
