.search {
  position: relative;
  transition: all 0.2s ease-in-out;
  display: flex;

  min-width: 140px;
  flex: 1;
  .iconSearch {
    position: absolute;
    left: 10px;
    top: 50%;
    opacity: 0.5;
    display: flex;
    align-items: center;
    transform: translateY(-50%);
  }

  input {
    background-color: rgba(241, 241, 241, 0.966);
    width: 100%;
    border: none;
    border-radius: 7px;
    outline: none;
    height: 40px;
    box-sizing: border-box;
    padding-left: 35px;
    align-items: center;
    flex: 1;
    transition: ease-in-out 0.3s;
    &:focus {
      box-shadow: 0 0 0 3.5px #ccc;
    }
  }
}
