.search {
  position: relative;
  display: flex;
  width: 100%;

  .iconSearch {
    position: absolute;
    left: 10px;
    top: 50%;
    opacity: 0.6;
    transform: translateY(-50%);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  input {
    background-color: rgba(241, 241, 241, 0.966);
    width: 100%;
    border: none;
    border-radius: 7px;
    outline: none;
    height: 40px;
    box-sizing: border-box;
    padding-left: 15px;
    transition: all 0.3s ease;

    &:focus {
      box-shadow: 0 0 0 3.5px #ccc;
    }
  }
  .hasIcon {
    padding-left: 35px !important;
  }

  .hidden {
    display: none;
  }

  .appear {
    display: flex;
  }
}
